body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

h1 {
    color: #912c6c; text-align: center;
}

h2 {
    color:#444;
}
li {
    background-color: white;
    padding: 8px;
}
.conteneur-boites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.boite {
    background-color: #2c6e91;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;

}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .conteneur-boites {
        flex-direction: column;
    }
}
.grille-projets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.carte {
    background-color: #444;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
}
